@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow%20Condensed%3Aregular%2C600%2C700%7CRoboto%3Aregular%2C700%7CAlfa%20Slab%20One%3Aregular%7CRoboto%20Serif%3Aregular%2C700&display=swap");
@import "tailwindcss";

@theme{
  --color-primary: oklch(0.88 0.1733 96.4);
  --color-secondary: oklch(0.57 0.2241 26.65); /* Vermelho */
  --color-background: oklch(1 0 0);
  --color-light-text: oklch(1 0 0);
  --color-dark-text: oklch(0 0 0);
}

:root {
  /* Fontes */
  --font-roboto: "Roboto", sans-serif; 
  --font-barlow: "Barlow Condensed", sans-serif;
  /* Cores principais */
  --color-primary: #fad72a;  /* Amarelo */
  --color-secondary: #db111f; /* Vermelho */
  --color-background: #ffffff;
  --color-dark-bg: #1a202c;
  --color-light-text: #fff;
  --color-dark-text: #000;
}

/* Responsividade */
@media (max-width: 768px) {
  header h1 {
    font-size: 2.5rem;
  }

  nav {
    flex-direction: column;
    gap: 15px;
  }

  nav a {
    font-size: 1.1rem;
  }

  main {
    padding: 40px 20px;
  }
}